{# USBAuthBundle:Auth:loginForm.html.twig #}
<form id="login_form" action="{{ path('login_check') }}" method="post" >
    <div class="innerFormBlock">
        <div class="formFields">
            <input type="text" id="_username" name="_username" class="blank" required="required" />

            <input type="password" id="_password" name="_password" class="blank" required="required" />

            <input id="last_username" type="hidden" value="{{ last_username }}"/>
            <div class="bottom_stuff">
                <label for="_remember_me">Remember me </label>
                <input type="checkbox" id="_remember_me" name="_remember_me" />
                <input type="submit" value="Login" class="button"/>
            </div>
        </div>
    </div>
    {% if error  %}
        <div class="error">
            <div>{{ error.message }}</div>
        </div>
    {% endif %}
</form>